
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<Ecommerce.WebUI.Models.Kategori>

<section class="panel">
    <header class="panel-heading">
        Kategoriler Listesi
    </header>
    <div class="panel-body">
        <div class="adv-table editable-table ">
            <div class="clearfix">
                <div class="btn-group">
                    <a href="/Admin/KategoriEkle" class="btn btn-success">Yeni Kategori<i class="icon-plus"></i></a>
                </div>
            </div>
            <br /> 
            <div class="space15"></div>
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Kategori Adı</th>
                        <th>Açıklama</th>  
                        <th>Güncelle</th>
                        <th>Sil</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kategori in Model)
                    {
                    <tr class=""> 
                        <td>@kategori.Adi</td>
                        <td>@kategori.Aciklama</td> 
                        <td><a href="/Admin/KategoriGuncelle/@kategori.Id" class="edit"><i class="icon-pencil"></i></a></td>
                        <td><a href="/Admin/KategoriSil/@kategori.Id" class="fancybox"><i class="icon-trash"></i></a></td>
                    </tr>
                    } 
                </tbody>
            </table>
        </div>
    </div>
</section>